<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_CoreBancarioSoap">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_CoreBancarioSoap1" />
   </basicHttpBinding>
  </bindings>

		<client>
   <endpoint address="https://localhost:7299/CoreBancario.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_CoreBancarioSoap" contract="ServicioEB2.CoreBancarioSoap"
    name="BasicHttpBinding_CoreBancarioSoap" />
   <endpoint address="http://localhost:5070/soap/CoreBancario.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CoreBancarioSoap1"
    contract="ServicioEB2.CoreBancarioSoap" name="BasicHttpBinding_CoreBancarioSoap1" />
  </client>
	</system.serviceModel>
</configuration>
