<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WSEurekaSoap" maxBufferSize="65536" maxReceivedMessageSize="65536">
					<!-- HTTPS -->
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint
			  address="https://localhost:44396/ec.edu.monster.ws/WSEureka.asmx"
			  binding="basicHttpBinding"
			  bindingConfiguration="WSEurekaSoap"
			  contract="ServicioEB.WSEurekaSoap"
			  name="WSEurekaSoap" />
		</client>
	</system.serviceModel>
</configuration>
